.navbar{
    background: rgba(17, 17, 17, 0.877);
    float: right;
    width: 100%;
    height: 50px;
    margin: 0%;
    display: block;   
}

#logo{
    margin: 0em;
}

#rlink{
    text-decoration: none;
    float: right;
    padding: 20px;
    color: white;
}

.text-box{
    height: 50px;
    width:92%;
    text-align: center;
    border-radius: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.account-info{
    margin:0;
    background: grey;
    width:80%;
    height: 320px;
    border-style: solid;
    border-width: 2px;
}

.personal-info{
    margin:0;
    background: grey;
    width:80%;
    height: 320px;
    border-style: solid;
    border-width: 2px;

}

#btnSubmit{
    width: 20%;
    color: orangered;
    border-width: 0;
    font-weight:bold;
    background-color: black;
}




h3{
    color:rgb(43, 100, 122);
    font-family: sans-serif;
    margin:0;
    width: 80%;
    border-style: solid;
    border-radius: 1%;
    border-width: 2px;
    background-color: aliceblue;
    border-color:orangered;
    height: 45px;
    padding-top: 5px;
}

body{
    margin:0;
    background-color:rgba(81, 189, 216, 0.829);
 }
 
 h1{
     margin:0;
     font-family: sans-serif;
     color:rgba(17, 17, 17, 0.877);
      
 }